@font-face {
  font-family: "NotoSansArabicRegular";
  src: url('assets/NotoSansArabic-Regular.ttf');
}

@font-face {
  font-family: "NotoSansMongolianRegular";
  src: url('assets/NotoSansMongolian-Regular.ttf');
}


@font-face {
  font-family: "Merienda";
  src: url('assets/Merienda-Regular.ttf');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #EBFFFF;
}

canvas {
  background-color: white;
  transition-property: height, width;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.vertical {
  height: 720;
  width: 240;
}